html, body {
    height: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding:0;
    background-image:url(145Hudson09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: silver;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
    width: 100%;
}
.navbar {
    margin-bottom: 20px;
    color: white;
}
.navbar-brand {
    font-size: 25px;
    font-weight:lighter;
    color: white;
}
.contact-title h1 {
    text-align: centre;
    margin: 50px 400px;
    color: #111;
    font-size: 32px;
}
.border{
    width: 100px;
    height: 10px;
    background: black;
    margin: 40px auto;
}
.contact-form{
    max-width: 600px;
    margin-top: 265px;
    margin-left: 225px;
    padding: 0, 10px;
    overflow: hidden;
    position:relative;
}
.contact-form-text{
    width: 600px;
    background: transparent;
    border:none;
    outline: none;
    border-bottom: 3px solid black;
    color: black;
    margin-bottom:18px;
    transition: 0.5s;
    position: relative;
}
::placeholder{
    color:black;
}
.contact-form-text:focus{
    box-shadow: 0 0 5px 4px black;
}
.textarea.contact-form-text{
    resize: none;
    height: 120px;
    color:black;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px; 
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
    position:relative;
}
.contact-form-btn:hover{
    background: #2980b9;
}
.footer {
    font-family: "montserrat",sans-serif;
    font-weight: lighter;
    padding: 2rem 0;
    color: whitesmoke;
    text-align: center;
    background-color: silver;
  }
  .footer p:last-child {
    margin-bottom: 0;
  }